study_ai_ml/
DNN_code_colab_lesson_1_2/*
!DNN_code_colab_lesson_1_2/lesson_1
!DNN_code_colab_lesson_1_2/lesson_2/*
DNN_code_colab_lesson_1_2/lesson_2/params.pkl
DNN_code_colab_lesson_3_4/*
!DNN_code_colab_lesson_3_4/lesson_3/*
DNN_code_colab_lesson_3_4/lesson_3/3_2_tf_languagemodel/*
!DNN_code_colab_lesson_3_4/lesson_3/3_2_tf_languagemodel/predict_word_*
!DNN_code_colab_lesson_3_4/lesson_4/*
DNN_code_colab_lesson_3_4/lesson_4/MNIST_data/
DNN_code_recent_CNN/
/*/old/